body {
  background: #f2f2f2;
}

a, a:visited {
  color: #333333;
}

a.callout {
  color: #cc0022;
}

.wrap {
  margin-top: 20px;
}

.site-nav a.page-link:hover {
  color: #cc0002;
}

.page-content {
  background: none;
}

.page-header {
  height: 200px;
  width: 100%;
  margin: 20px auto 0 auto;
  background: url("../images/page-header-bg.png") no-repeat;
}

.page-header h1 {
  color: #666666;
  opacity: 0.8;
  font-weight: 500;
  float: left;
  margin-bottom: 20px;
  font-size: 52px;
}

.logo {
  width: 347px;
  height: 40px;
  margin-top: 10px;
}

.logo a { 
  height: 100%;
  width: 100%;
}

.logo img {
  height: 100%;
  width: 100%;
}

.page-header-image {
  height: 160px;
  width: 330px;
  float: right;
  opacity: 0.6;
}

.body-page-header-image {
  background: url("../images/body.png") no-repeat;
}

.engine-page-header-image {
  background: url("../images/engine-diagram.png") no-repeat;
}

.performance-page-header-image {
  background: url("../images/rpm-gauge.png") no-repeat;
}

.page ul.posts {
  margin-left: 0;
}

.page ul.posts li span.post-date {
  font-size: 12px;
}

.post img {
  width: 100%;
}

table {
  border-left: 1px solid #333;
}

table tr th, table tr td {
  text-align: left;
  padding: 5px 10px;
}

table tr th {
  background: #333;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
}

table tr td {
  background: #fff;
  color: #333;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

@media only screen and (max-width: 320px), screen and (max-width: 480px), screen and (max-width: 640px) {
  .logo {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px), screen and (max-width: 640px) {
  .wrap {
    margin-top: 10px;
  }
}

/* Smartphones (portrait, landscape) ----------- */
@media only screen and (max-width: 320px), screen and (min-width: 321px) {
  .wrap {
    margin-top: 5px;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  .logo {
    width: 200px;
    height: 23px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  .logo {
    width: 247px;
    height: 28px;
  }
}
